.form {
    padding: 2rem 1rem;
    background: map_get($colors, grey-x-light);
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14),
        0 3px 1px -2px rgba(0, 0, 0, 0.12),
        0 1px 5px 0 rgba(0, 0, 0, 0.2);
    border-radius: 4px;

    .field {
        margin: 1rem 0.5rem;

        label {
            font-weight: 300;

        }


        &.input,
        &.textarea {

            input,
            textarea {
                background: map_get($colors, white);
                border: 1px solid map_get($colors, secondary-text);
                width: 100%;
                display: block;

                &:focus {
                    border-color: map_get($colors, primary);
                }
            }
        }

        &.select {
            select {
                width: 100%;
            }
        }

        &.input,
        &.select,
        &.textarea {
            label {
                display: block;
                margin-bottom: 0.5rem;
            }
        }

        &.checkbox {
            label {
                margin-left: 0.5rem;

                &:hover {
                    color: map_get($colors, primary);
                }
            }
        }

        &.error {
            label {
                color: map_get($colors, secondary);
            }

            input,
            textarea {
                border-color: map_get($colors, secondary);

                &:focus {
                    border-color: map_get($colors, secondary);
                }
            }
        }
    }

    .btn.submit {
        display: block;
        margin: 2rem auto;


    }

    .error-msg {
        text-align: center;
    }

    @media screen and (min-width:map_get($breakpoints, md)) {
        .field {
            margin: 1rem auto;
            max-width: 50%;
        }
    }
}