.table-list {
    border: solid map_get($colors, grey-x-light) 1px;

    .table-list-item {

        border: solid map_get($colors, grey-x-light) 1px;
        display: flex;
        flex-direction: column;
        padding: 1rem;
        align-items: center;

        .col {
            display: inline-block;
            padding: 1rem;
        }

        @media screen and (min-width:map_get($breakpoints, md)) {
            flex-direction: row;
            justify-content: space-between;

            flex-wrap: wrap;

            .col-2 {
                flex: 2;
            }
        }
    }
}