.employee-card {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;

    .name {
        flex-basis: 100%;
        margin-top: 0;
    }

    .infos {
        font-weight: 300;

    }

    .stats span {
        display: block;
        padding: 0.5rem 0.25rem;
    }
}